body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-container{
    width: 25%;
    height: 60vh;
    background-color: grey;
    border-radius: 15px;
}

.ball-area{
    height: 90%;
    margin-top: 5%;
    padding-left:  10px ;
    padding-right: 10px ;
}

.ball{
    width: 9%;
    height: 7.5%;
    border-radius: 50%;
    background-color: white;
}

.controller-area{
    position: relative;
    left: 0;
    height: 6%;
    padding-left:  10px ;
    padding-right: 10px ;
    transition: 2s ;
}

.controller{
    width: 30%;
    height: 10px;
    border-radius: 10px;
    background-color: black;
}



.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 25%;
}

.left-button img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 5px solid black;
    padding: 4px;
    border-radius: 50%;
}

.right-button img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 5px solid black;
    padding: 4px;
    border-radius: 50%;
}

.controller-area:hover{
    left: 264px
}